{
  "presets": [[
    "@babel/env", {
      "targets": {
        "browsers": [ "extends browserslist-config-terra" ]
      }
    }]],
  "plugins": [
    "@babel/plugin-transform-object-assign",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import"
  ],
}
