{
  "presets": [[
    "env", {
      "targets": {
        "browsers": [ "extends browserslist-config-terra" ]
      }
    }]],
  "plugins": ["transform-object-assign", "transform-object-rest-spread", "transform-runtime", "syntax-dynamic-import"],
}
