# local-files
*.log
*.tgz
packages/**/package-lock.json

# local folders
.fleet
.idea
.vscode
.DS_Store

# generated folders
aggregated-translations
build
generated-themes
lib
node_modules
reports
**/__snapshots__/latest
**/__snapshots__/error
**/__snapshots__/diff

# path exceptions to include:
!/packages/terra-cli/tests/jest/fixtures/*/node_modules/
!/packages/terra-cli/tests/jest/fixtures/**/lib/
!/packages/duplicate-package-checker-webpack-plugin/tests/jest/**/node_modules/
