language: node_js
sudo: required
services:
  - docker
branches:
  only:
    - main
before_install:
  # Clean install on any new build
  - npm run clean
jobs:
  include:
    - stage: danger lint and jest
      script:
        # clear the cache of any old build artifacts
        - rm -rf ./travis-build
        - npm run danger
        - npm run lint
        - npm run jest

    - stage: wdio
      name: wdio
      # Don't clean install
      before_install: skip
      script:
        # using the travis env section to set env variables seems to break cache
        - npm run wdio

    - stage: mocha
      # Don't clean install
      before_install: skip
      script:
        - npm run mocha

    - stage: publish & deploy
      script:
        - rm -rf ./travis-build
        # push tags to github based on output written to file
        - npm run terra -- release
      # before_deploy:
      #   # Build again for deployment because we need the Public path to be updated.
      #   - TERRA_DEV_SITE_PUBLIC_PATH='/terra-toolkit/' npm run compile:prod
      # deploy:
      #   provider: pages
      #   skip_cleanup: true
      #   github_token: $GITHUB_TOKEN # Set in travis-ci.com dashboard
      #   local_dir: $TRAVIS_BUILD_DIR/build
      #   on:
      #     branch: main

stages:
  - danger lint and jest
  - wdio
  - mocha
  - name: publish & deploy
    if: type != pull_request

