@import '@cerner/terra-dev-site/lib/mdx/MarkdownTags.module';

:local {
  .props-tr {
    vertical-align: top;
  }

  .props-td {
    overflow-wrap: break-word;
    white-space: normal;
    word-wrap: break-word;
  }

  .tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
  }

  .tr:nth-child(2n) {
    background-color: #f6f8fa;
  }
}
